*{
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue"
}

body{
  background-color: #fff4f4;
}

p{
  user-select: none;
}

body > span{
  display: none;
}

.help{
  display: none;
}

aside{
  display: none;
  position: absolute;
  z-index: 20;
  background-color: orange;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow:scroll;
  overflow-x: hidden;
}

aside > .singerlist{
  width: 100%;
  height: 100%;
  background-color: #fff4f4;
}


aside > .singer_list ul > li{
  padding-left: 30px;
  background-color: #fff4f4;
  height: 80px;
  line-height: 80px;
  color: #353535;
  font-weight: bold;
  font-size: 16px;
}

aside > .singer_list ul > li:hover{
  background-color: rgb(255, 230, 230);
}

aside > .singer_list ul > li > .singer_img{
  margin: 20px;
  float: left;
  width: 40px;
  height: 40px;
  background-size: cover!important;
}

section{
  height:88vh;
  position: relative;
}

section > .bcg_font {
  width: 100vw;
  overflow: hidden;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > .bcg_font > p{
  font-family: "HelveticaNeue-CondensedBold";
  font-weight: 900;
  user-select: none;
  color: #d62828;
  white-space:nowrap;
}


section > .bcg_font > p:nth-child(1){
  font-size: 27px;
  line-height: 27px;
}

section > .bcg_font > p:nth-child(2){
  font-size: 10.5px;
  line-height: 10.5px;
}

section > .bcg_font > p:nth-child(3){
  font-size: 22px;
  line-height: 22px;
}

section > .bcg_font > p:nth-child(4){
  font-size: 52px;
  line-height: 52px;
}

section > .bcg_font > p:nth-child(5){
  font-size: 33px;
  line-height: 33px;
}

section > .bcg_font > p:nth-child(6){
  font-size: 103px;
  line-height: 85px;
}

section > .bcg_image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-position: center!important;
  background-size: 200%;
  background-blend-mode: overlay;
  padding: 18px;
  box-sizing: border-box;
}

section > .bcg_image > .info{
  color: white;
  text-align: justify;
}

section > .singer {
  width: 80%;
  height: 100%;
  position: absolute;
  background-size: contain!important;
  bottom: 40%;
  z-index: 1;
}


footer{
  background-color: #003049;
  height: 12vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

footer > .control {
  order: 2;
  height: 55px;
  width: 33.3%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

footer > .control > span{
  float: left;
}

footer > .control > .pre {
  width: 27px;
  height: 27px;
  background:url("../images/icons/pre.png") no-repeat;
  background-size: 100%;
}

footer > .control > .next {
  width: 27px;
  height: 27px;
  background:url("../images/icons/next.png") no-repeat;
  background-size: 100%;
}

footer > .control > .play {
  width: 55px;
  height: 55px;
  background:url("../images/icons/play.png") no-repeat;
  background-size: 100%;
}

footer > .control > .pause {
  width: 55px;
  height: 55px;
  background:url("../images/icons/pause.png") no-repeat!important;
  background-size: 100%!important;
}

footer > .progress {
  width: 100%;
  height: 15px;
  position: relative;
}

footer > .progress > .song_album{
  font-size: 15px;
  line-height: 15px;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  top: -15px;
  left: 18px;
  z-index: 3;
}

footer > .progress > .song_time{
  font-size: 15px;
  line-height: 15px;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  top: -15px;
  right: 18px;
}

footer > .progress > .progress_line{
  position: absolute;
  z-index: 2;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #598392;
}

footer > .progress > .progress_line > .progress_bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #d62828
}

footer > .progress > .progress_line > .progress_dot{
  display: none;
}

footer > .fa-bars{
  position: absolute;
  right: 18px;
  top:50%;
  transform: translate(0%, -50%);
  font-size: 24px;
  color: white;
}
